<div class="alert alert-info">
  <button class="close" {{action 'remove'}}><span aria-hidden="true">&times;</span></button>
  <p><span class="label label-primary">{{item.user}}</span> {{item.text}}</p>
</div>