<div class="alert alert-warning alert-chat">
  <button class="close close-chat" {{action 'remove'}}><span aria-hidden="true">&times;</span></button>
  <p><span class="label label-warning label-user">{{item.user}}</span> {{item.text}}</p>
</div>