
  <div class="well well-lg">

    <div class="row">

      <div class="col-sm-5">
        <img src="http://www.gravatar.com/avatar/{{md5 model.email}}?s=200">`
      </div>

      <div class="col-sm-7">
        <h2>{{model.name}}</h2>

        <h4>E-mail: {{model.email}}</h4>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group">
          <button class="btn btn-default">Edit</button>
          <button class="btn btn-danger" {{action 'deleteUser' model}}>Delete</button>
        </div>
      </div>
    </div>
  </div>


